{% extends 'base.html' %}
{% block content %}

  <div class="mt-4">
    <div class="text-center p-3">
        <h2 class="theme-color">Dashboard</h2>
    </div>
  </div>

  <div class="container">
    <div class="row my-4">

      <div class="col-sm">
        <button class="btn btn-block action-btn p-3" onclick="location.href='add-product.php'">
          <i class="far fa-plus-square pr-3"></i> Add Product
        </button>
      </div>

      <div class="col-sm">
        <button class="btn btn-block action-btn p-3" onclick="location.href='search-products.php'">
          <i class="fas fa-search pr-3"></i> Search
        </button>
      </div>

      <div class="col-sm">
        <button class="btn btn-block action-btn p-3" onclick="location.href='view-available-products.php'">
          <i class="fas fa-boxes pr-3"></i> View Available Products
        </button>
      </div>

    </div>

    <div class="row my-4">
      <div class="col-sm">
        <button class="btn btn-block action-btn p-3" onclick="location.href='sell-product.php'">
          <i class="far fa-minus-square pr-3"></i> Sell Product
        </button>
      </div>

      <div class="col-sm">
        <button class="btn btn-block action-btn p-3" onclick="location.href='view-sold-products.php'">
          <i class="fas fa-boxes pr-3"></i> View Sold Products
        </button>
      </div>

      <div class="col-sm">
        <button class="btn btn-block action-btn p-3" onclick="location.href='add-admin.php'">
          <i class="fas fa-user-shield pr-3"></i> Admin
        </button>
      </div>

    </div>
  </div>
      

{% endblock  %}